.header {
  display: flex;
  justify-content: space-around;
  color: white;
}

.header h1 {
  font-size: 2em;
  flex-grow: 2;
  padding: 0 3vw 0 3vw;
}

.header h1 img {
  padding: 1vw 3vw 0;
}

.header button {
  flex-grow: 1;
}
