.header {
  display: flex;
  justify-content: space-around;
  color: white;
}

.header a {
  font-size: 2em;
  flex-grow: 2;
  padding: 0 0.3em 0 0.3em;
}

.header a img {
  padding: 0.2em 0.5em 0;
  transition: content 0.15s ease;
}

.header a img:hover {
  content: url("../assets/logo.light.svg");
  transition: content 0.15s ease;
}

.header button {
  flex-grow: 1;
}
