.material-icons.md-36 {
  font-size: 36px;
  cursor: pointer;
  background: linear-gradient(145deg, #29363c, #222d32);
  box-shadow: 5px 5px 9px #1d262b, -5px -5px 9px #2f3e45;
  border-radius: 1rem;
}

.material-icons.md-36:active {
  background: linear-gradient(145deg, #222d32, #29363c);
  box-shadow: 5px 5px 9px #1d262b, -5px -5px 9px #2f3e45;
  color: var(--secondary-dark);
  transition: all 0.5s ease;
}

.new-container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  transition: all 0.15s ease;
}

#new-todo {
  margin: 0.5em 0 0.5em 0.8em;
  font-size: 1.2em;
  max-width: 50%;
  color: white;
  font-weight: bold;
  background: transparent;
  border-style: none;
  border-bottom: 0.15rem solid white;
  outline: none;
}

#new-todo::placeholder {
  font-weight: lighter;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
}
