.container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0.8rem;
  border-radius: 1rem;
  background: linear-gradient(145deg, #29363c, #222d32);
  box-shadow: 5px 5px 16px #1c2529, -5px -5px 16px #303f47;
  margin-bottom: 0.5rem;
  font-weight: bold;
  transition: all 0.15s ease;
}

.border {
  border: 0.1rem solid white;
  border-radius: 1rem;
}

.todo {
  flex-grow: 4;
}

.mid-container {
  display: flex;
  align-items: center;
  margin-right: 0.3em;
}

.material-icons {
  width: fit-content;
}

.close-active {
  color: var(--secondary-color) !important;
}

.tag-active {
  font-size: 0.6rem;
  padding: 0.2em;
  text-transform: capitalize;
  border-radius: 1rem;
  margin-right: 0.6em;
  font-weight: bold;
  font-style: normal;
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--primary-color);
  width: fit-content;
  transition: all 0.15s ease;
}

.tag {
  font-size: 0.6em;
  padding: 0.2em;
  text-transform: capitalize;
  margin-right: 0.6em;
  border-radius: 1rem;
  background: white;
  color: var(--primary-color);
  width: fit-content;
  transition: all 0.15s ease;
}

.btn:focus {
  outline: none !important;
}

.neumorphic-btn {
  font-size: 1rem;
  border: none;
  padding: 10px 40px;
  border-radius: 80%;
  color: #6d7587;
  background-color: transparent;
  transition: box-shadow 0.25s ease !important;
}

.neumorphic-checkbox {
  padding: 1rem;
  position: relative;
  margin: 0 5px;
  transition: all 0.25s ease;
}

.neumorphic-checkbox::after {
  content: "";
  cursor: pointer;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.35s ease;
}

.neumorphic-container_active {
  box-shadow: inset 5px 5px 11px #202b30, inset -5px -5px 11px #2c3a40;
  border-radius: 1rem;
  font-weight: lighter;
  font-style: italic;
  color: var(--secondary-color);
  transition: all 0.15s ease;
}

.neumorphic-checkbox_active::after {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
}
