:root {
  --primary-color: #263238;
  --primary-light: #4f5b62;
  --primary-dark: #000a12;
  --secondary-color: #beb994;
  --secondary-light: #f1ebc5;
  --secondary-dark: #8d8966;
}

.App {
  background-color: var(--primary-color);
}
